/* Палітра кольорів 
background: #F5F5F5
background-header: #FFFFFF
background-futer: #2F303A
background-hero: #2F303A
background-team: #2F303A
background-botton: #F5F4FA
accent-button: #2196F3
white-button: #FFFFFF
black-word: #212121
blue-logo: #2196F3
black-logo: #000000
text-main: #212121
text: #757575
text-footer: rgba(255, 255, 255, 0.6);

*/

:root {
  --primery-text-color: #212121;
  --primery-bg-color: #f5f5f5;
  --background-botton: #f5f4fa;
  --secondary-text-color: #757575;
  --accent-color: #2196f3;
}
body {
  background-color: var(--primery-bg-color);
  color: var(--primery-text-color);
}

/* Скасував мітки у списках */
.list {
  list-style: none;
}

/* Скасував підкреслювання у посиланнях */
a {
  text-decoration: none;
}

/* Перша частина логотипу */
.logo-blue {
  color: #2196f3;
}

/* Друга частина логотипу */
.logo-black {
  color: #000000;
}

/* Задав кольор тексту посилань */
.site-nav .link,
.contacts .cont {
  color: var(--primery-text-color);
}

/* Зміна кольору тексту (миш, таб) */
.site-nav .link:hover,
.site-nav .link:focus,
.contacts .cont:hover,
.contacts .cont:focus {
  color: var(--accent-color);
}

.site-nav .link.current {
  color: var(--accent-color);
}

/* Головний текст */
.sec-hiro {
  color: #fff;
}

/* Колір тексту скілів, професії, назви робіт */
.skills,
.prof,
.work-list {
  color: var(--secondary-text-color);
}

/* Задав колір тексту у футері */
.contacts-nav .list-footer {
  color: rgba(255, 255, 255, 0.6);
}

/* Зміна кольору тексту у футері (миш, таб) */
.contacts-nav .list-footer:hover,
.contacts-nav .list-footer:focus {
  color: #fff;
}

/* Кнопка */
.button {
  color: var(--primery-text-color);
  background: var(--primery-bg-color);
}
.button.primery {
  color: #f5f4fa;
  background-color: var(--accent-color);
}

.button.secondary {
  color: var(--primery-text-color);
  background-color: var(--background-botton);
}
