/* Палітра кольорів 
background: #F5F5F5
background-header: #FFFFFF
background-futer: #2F303A
background-hero: #2F303A
background-team: #2F303A
background-botton: #F5F4FA
blue: #2196F3
white: #FFFFFF
black-word: #212121
blue-logo: #2196F3
black-logo: #000000
text-main: #212121
text: #757575
text-footer: rgba(255, 255, 255, 0.6);

*/

body {
  background-color: #f5f5f5;
  color: #212121;
}

/* Скасував мітки у списках */
.list {
  list-style: none;
}

/* Скасував підкреслювання у посиланнях */
a {
  text-decoration: none;
}

/* Перша частина логотипу */
.logo-blue {
  color: #2196f3;
}

/* Друга частина логотипу */
.logo-black {
  color: #000000;
}

/* Задав кольор тексту посилань */
.site-nav .link,
.contacts .cont {
  color: #212121;
}

/* Зміна кольору тексту (миш, таб) */
.site-nav .link:hover,
.site-nav .link:focus,
.contacts .cont:hover,
.contacts .cont:focus {
  color: #2196f3;
}

/* Головний текст */
.sec-hiro {
  color: #fff;
}

/* Колір тексту скілів, професії, назви робіт */
.skills,
.prof,
.names-work {
  color: #757575;
}

/* Задав колір тексту у футері */
.contacts-nav .list-footer {
  color: rgba(255, 255, 255, 0.6);
}

/* Зміна кольору тексту у футері (миш, таб) */
.contacts-nav .list-footer:hover,
.contacts-nav .list-footer:focus {
  color: #fff;
}

/* Кнопка */
.button {
  color: #212121;
  background: #F5F5F5;
}
/* .button.primery { */
  color: #f5f4fa;
  background-color: #2196f3;
}

/* .button.secondary { */
  color: #2196f3;
  background-color: #f5f4fa;
}
